<h1>My Todo List</h2>
<table id="todo-table" border='1'>
  <tr>
    <th>Description</th>
    <th>Days left</th>
    <th>Complete</th>
  </tr>
  <%= render partial: "todo", collection: @todos %>
</table>

<p><%=  link_to "Create new todo", new_todo_path, id: "new_todo_link" %></p>
