<table border='1'>
  <tr>
    <th>Description</th>
    <th>Days left</th>
    <th>Complete</th>
  </tr>
  <%= render partial: "todo", collection: @todos %>
  <tr>
    <td><%=  link_to "Create new todo", new_todo_path %></td>
    <td></td>
    <td></td>
  </tr>
</table>

<script language="javascript">
  $("#completed_button")....
</script>
